### 휴먼지능정보공학전공 201910787 김영서

아래 데이터를 RDD로 만들고, 성적의 합계 및 평균을 계산하세요.
하위 문제별로 RDD를 생성하지 말고, 원본데이터에서 하나의 RDD만을 생성하고, 이를 변형해서 문제를 푸세요.

이름 | 과목 | 점수
-----|-----|-----
김하나 | English | 100
김하나 | Math | 80
임하나 | English | 70
임하나 | Math | 100
김갑돌 | English | 82.3
김갑돌 | Math | 98.5

In [2]:
import sys
import os

home=os.path.expanduser("~")
os.environ["PYSPARK_PYTHON"]="C:\\Users\\zaqxs\\Anaconda2\\envs\\py35\\python.exe"
os.environ["PYSPARK_DRIVER_PYTHON"]="C:\\Users\\zaqxs\\Anaconda2\\envs\\py35\\python.exe"
os.environ["PYLIB"]=os.path.join(os.environ["SPARK_HOME"],'python','lib')
sys.path.insert(0,os.path.join(os.environ["PYLIB"],'py4j-0.10.9-src.zip'))
sys.path.insert(0,os.path.join(os.environ["PYLIB"],'pyspark.zip'))

In [3]:
import pyspark
myConf=pyspark.SparkConf()
spark = pyspark.sql.SparkSession\
    .builder\
    .master("local")\
    .appName("myApp")\
    .config(conf=myConf)\
    .getOrCreate()

### RDD 생성

In [4]:
marks=[
    "'김하나','English', 100",
    "'김하나','Math', 80",
    "'임하나','English', 70",
    "'임하나','Math', 100",
    "'김갑돌','English', 82.3",
    "'김갑돌','Math', 98.5"
]
_marksRdd=spark.sparkContext.parallelize(marks)

### 문제 3-1: 이름으로 합계를 구해보자.

In [31]:
SumByName=_marksRdd\
    .map(lambda x:x.split(','))\
    .map(lambda x: (x[0],float(x[2])))\
    .reduceByKey(lambda x,y:x+y)\
    .collect()

for e in SumByName:
  print(e[0],e[1])

'김하나' 180.0
'임하나' 170.0
'김갑돌' 180.8

### 문제 3-2: 과목으로 합계를 계산해 보자.

In [32]:
SumBySubject=_marksRdd\
    .map(lambda x:x.split(','))\
    .map(lambda x: (x[1],float(x[2])))\
    .reduceByKey(lambda x,y:x+y)\
    .collect()

for e in SumBySubject:
  print (e[0],e[1])

'English' 252.3
'Math' 278.5

### 문제 3-3: 이름으로 합계과 개수를 구해보자.

In [20]:
SumByName2_marksRdd\
    .map(lambda x:x.split(','))\
    .map(lambda x: (x[0],float(x[2])))

In [23]:
SumandCountByName=SumByName2.combineByKey(
    (lambda x: (x, 1)),
    (lambda acc, value: (acc[0]+value, acc[1]+1)), 
    (lambda acc1, acc2: (acc1[0]+acc2[0], acc1[1]+acc2[1])))

In [25]:
for e in SumandCountByName.collect():
    print(e[0],e[1])

'김하나' (180.0, 2)
'임하나' (170.0, 2)
'김갑돌' (180.8, 2)

### 문제 3-4: 이름으로 평균을 계산해 보자. (앞서 3-3에서 사용했던 결과를 활용)

In [29]:
AverageByName = SumandCountByName.map(lambda x: (x[0],x[1][0]/x[1][1])) 

for e in AverageByName.collect():
    print(e[0],e[1])

'김하나' 90.0
'임하나' 85.0
'김갑돌' 90.4